body #afternoon {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    background-image: url("https://th.bing.com/th?id=OSK.HEROeyKcRup7tXEOiWs3u9a7limsddCCo473LgW-7wcDr-U&w=472&h=280&c=1&rs=2&o=6&pid=SANGAM");
    background-size:contain;
    background-repeat:no-repeat;
    background-position: right;
    
}


section {
    height: 100vh;
}

.hello {
    height: 200px;
    width: 200px;
    background-image: url("https://th.bing.com/th?id=OSK.HEROeyKcRup7tXEOiWs3u9a7limsddCCo473LgW-7wcDr-U&w=472&h=280&c=1&rs=2&o=6&pid=SANGAM");
}